@mixin breakpoint($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}
@mixin min-breakpoint($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
@mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
@mixin button-reset {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
@mixin fontFace($family, $src, $style: normal, $weight: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.woff2') format('woff2'),
             url('#{$src}.woff') format('woff');
        font-style: $style;
        font-weight: $weight;
    }
}