@import "mixins";
@import "vars";
@import "global";
@import "libs";
@import "fonts";

/* begin header */
.header {
  background-color: $color-black;
  &__inner {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header-logo {
  margin-right: 4rem;
}
.header-navigation {
  display: flex;
  &__list {
    display: flex;
    align-items: center;
    &-item {
      & + .header-navigation__list-item {
        margin-left: 2.5rem;
      }
    }
    &-link {
      font-family: $pn-semibold;
      color: $color-white;
      font-size: 1.3rem;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
/* end header */

/* begin banner */
.banner {
  &-slider {
  }
  &-item {
    min-height: 65rem;
    &__content {
      max-width: 50rem;
      width: 100%;
      margin: 21rem auto 0 auto;
      &-title {
        font-family: $pn-exBold;
        font-size: 8rem;
        line-height: 1;
        margin: 0;
        text-transform: uppercase;
        &--black {
          color: $color-black;
        }
      }
      &-link {
        font-family: $pn-exBold;
        display: inline-block;
        margin-top: 4rem;
        font-size: 1.4rem;
        color: $color-white;
        text-transform: uppercase;
        padding: 2rem 1rem;
        max-width: 15rem;
        width: 100%;
        text-align: center;
        background-color: $color-black;
        margin-left: calc(100% - 15rem);
      }
    }
  }
}
/* end banner */

/* begin company */
.company {
  min-height: 95rem;
  padding-top: 24.5rem;
}
.company-content {
  max-width: 61rem;
  width: 100%;
  &__title {
    font-family: $pn-exBold;
    font-size: 4.8rem;
    text-transform: uppercase;
    margin: 0 0 6.5rem 0;
  }
  &__text {
    font-size: 1.5rem;
    line-height: 3rem;
    & + .company-content__text{
      margin-top: 4rem;
    }
  }
}
/* end company */

/* begin features */
.features{
  &__inner{
    padding-top: 12rem;
    padding-bottom: 5rem;
  }
  &__title{
    margin: 0;
    padding-bottom: 6rem;
    font-family: $pn-exBold;
    font-size: 4.8rem;
    text-transform: uppercase;
    color: $color-black;
    text-align: center;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 3rem;
      height: 3rem;
      background-image: url('../img/icon-cross.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
}
.features-items{
  display: flex;
  justify-content: space-between;
  padding: 8.5rem 0;
}
.features-item{
  max-width: 22rem;
  width: 100%;
  &__link{
    font-size: 1.6rem;
    font-family: $pn-semibold;
    color: $color-black;
    text-decoration: none;
  }
}
/* end features */

/* begin footer */
.footer{
  background-color: $color-black;
  &__inner{
    padding-top: 8rem;
  }
}
.footer-items{
  display: flex;
  justify-content: space-between;
}
.footer-item{
  width: 25%;
  &__title{
    font-size: 1.7rem;
    font-family: $pn-exBold;
    text-transform: uppercase;
    margin: 0 0 2.5rem 0;
  }
  &__list{
    &-element{
      & + .footer-item__list-element{
        margin-top: 2rem;
      }
    }
    &-link{
      font-size: 1.4rem;
      color: $color-gray;
      text-decoration: none;
    }
  }
  &__form{
    position: relative;
    &-input{
      padding-right: 6rem;
      padding-left: 1.5rem;
      height: 4.2rem;
      width: 100%;
      font-family: $pn-regular;
      font-size: 1.4rem;
      color: $color-gray-placeholder;
    }
    &-btn{
      @include button-reset;
      position: absolute;
      right: 0;
      width: 6rem;
      height: 100%;
      background-color: $color-gray-bg;
      color: $color-black-light;
      font-family: $pn-exBold;
      font-style: 1.5rem;
      text-transform: uppercase;
    }
  }
}
.footer-socials{
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  &__link{
    font-size: 1.8rem;
    color: $color-white;
    text-decoration: none;
    & + .footer-socials__link {
      margin-left: 2.8rem;
    }
    &-text {
      font-size: 0;
    }
  }
}
.footer-bottom{
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.footer-copy{
  font-family: $pn-semibold;
  font-size: 1.4rem;
}
/* end footer */
